<app-toolbar-navigation></app-toolbar-navigation>

<div class="grid">
  <div class="col-12">
    <p-card header="Quantidade produtos em estoque" styleClass="shadow-3 m-5 text-indigo-800">
      <p-chart type="bar" [data]="chartData" [options]="chartOptions" height=700;></p-chart>
    </p-card>
  </div>

  <!-- Totais -->
  <div class="col-4">
    <div class="card shadow-3 m-5">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">Total de Pacientes</h5>
        <p class="card-text" style="text-align: center">{{ allPacients }}</p>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card shadow-3 m-5">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">Total de Fichas</h5>
        <p class="card-text" style="text-align: center">{{ allReports }}</p>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card shadow-3 m-5">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">Total de Pacientes criados por você</h5>
        <p class="card-text" style="text-align: center">{{ allProfissionalPacients }}</p>

      </div>
    </div>
  </div>
</div>
