<app-toolbar-navigation></app-toolbar-navigation>

<!-- Totais -->
<div style="display: flex; justify-content: space-around; margin-top: 20px;">
  <div class="card-container">
    <p-card header="Total de pacientes" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        {{ allPacients }}
      </p>
    </p-card>
  </div>

  <div class="card-container">
    <p-card header="Seus pacientes" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        <p>teste>
        {{ allProfissionalPacients }}
      </p>
    </p-card>
  </div>

  <div class="card-container">
    <p-card header="Total de fichas" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        {{ allReports }}
      </p>
    </p-card>
  </div>
</div>

<!-- Gráficos -->
<div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
  <div class="chart-container" >
    <p-card header="Resultados totais" styleClass="shadow-3 m-5 text-indigo-800">
      <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" height="400"></p-chart>
    </p-card>
  </div>

  <div class="chart-container">
    <p-card header="Pacientes encaminhados por especialidade" styleClass="shadow-3 m-5 text-indigo-800">
      <p-chart type="doughnut" [data]="donutChartData" [options]="donutChartOptions" height="400"></p-chart>
    </p-card>
  </div>
</div>



<!--Informacoes do usuario-->
<div style="display: flex;justify-content: center;align-content: center">
  <div style="width: 80%;">
    <p-card header="Informações do usuário" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        Informações do usuário aqui
      </p>
    </p-card>
  </div>
</div>

