<div class="layout-topbar">
<!--  <button #menubutton class="p-link layout-menu-button layout-topbar-button">-->
<!--    <i class="pi pi-bars"></i>-->
<!--  </button>-->

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="getIntegrationLink()">
    <i class="pi pi-copy"></i>
  </button>
  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu">
    <button class="p-link layout-topbar-button" routerLink="/dashboard">
      <i class="pi pi-home"></i>
      <span>Dashboard</span>
    </button>

    <div #topbarmenu class="layout-topbar-menu">
      <button class="p-link layout-topbar-button" routerLink="/products">
        <i class="pi pi-calendar"></i>
        <span>Prontuarios</span>
      </button>

      <button class="p-link layout-topbar-button" routerLink="/pacients">
        <i class="pi pi-user"></i>
        <span>Pacientes</span>
      </button>

      <button class="p-link layout-topbar-button" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        <span>Sair</span>
      </button>
    </div>
  </div>
</div>

