<app-toolbar-navigation></app-toolbar-navigation>
<div style="display: flex;justify-content: center;align-content: center; margin-top:40px">
  <div style="width: 80%;">
    <p-card *ngIf="userInfo" header="Informações do usuário" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        <span class="pi pi-user" style="margin-right: 10px"></span> <strong><span
        style="font-weight: bold;">Usuário:</span></strong> {{ userInfo?.username }}
      </p>

      <p style="text-align: center; font-size: 1.5em;">
        <span class="pi pi-envelope" style="margin-right: 10px"></span><strong><span
        style="font-weight: bold;">E-mail:</span></strong> {{ userInfo?.email }}
      </p>
      <p style="text-align: center; font-size: 1.5em;">
        <span class="pi pi-briefcase" style="margin-right: 10px"></span>
        <strong><span style="font-weight: bold;">Especialidade:</span></strong>
        {{ userInfo?.speciality ? userInfo.speciality : 'Especialidade não informada' }}
      </p>
    </p-card>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>


